<!DOCTYPE html>
<html>
  <head>
    <title>Ludovic Pouyaut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial => "/site/header"  %>
    <div id='ariane'>
      <%= render_breadcrumbs :separator => ' / ' %> 
    </div>
    <%= yield %>
    <%= render :partial =>"/site/footer" %>

  </body>
</html>
